.title {
  text-align: center;
}

.tweet-form {
  width: 50%;
  margin: 0 auto;
}

.loading {
  width: 50%;
  margin: 0 auto;
}

.loading {
  text-align: center;
}

.posts {
  width: 80%;
  margin: 0 auto;
}
